.DS_Store
*.log
node_modules
.env
.env.production
.env.local
.env.*.local
.next
dist
coverage
build
out
.turbo
.pnpm-store
client/node_modules
client/.next
server/node_modules
server/dist
server/coverage
server/generated
*.tsbuildinfo
